# Arquivos e diretórios do Node.js
node_modules/
npm-debug.log
yarn-error.log

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Dependências do Repl.it
.replit

# Arquivo de configuração de ambiente
.env
